<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale-1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>jQuery Example</title>

        <script type="text/javascript" src ="/lib/jquery-3.3.1.min.js">

        </script>

        <script type="text/javascript" src ="/js/employees.js">

        </script>

    </head>

    <body>
        <div>
            <fieldset>

                <legend>Creating new employee: </legend>
                <p>Name: </p>
                <input id="name" type="text"/>
                <p>Position: </p>
                <input id="position" type="text"/>
                <p>Salary: </p>
                <input id="salary" type="number"/>
                <hr/>
                <input type="button" value="Add" onclick="createEmployee()"/>

            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>List of employees</legend>
                <input type="button" value="Update" onclick="getAllEmployees()"/>
                <div id="workspace">

                </div>
            </fieldset>

        </div>


    </body>


</html>