<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale-1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>WEB-Title</title>
    </head>

    <body>
        Test
        <!-- Заголовки -->
        <h1>Header1</h1>
        <h2>Header2</h2>
        <h3>Header3</h3>
        <h4>Header4</h4>
        <h5>Header5</h5>
        <h6>Header6</h6>
        <!-- Блок для добавления текстовой информации -->
        <span> ---- Text 1 ----- </span>
        <span> ---- Text 2 ----- </span>
        <span> ---- Text 3 ----- </span>
        <!-- Параграф -->
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
        <p>Paragraph 3</p>
        <!-- Горизонтальный разделитель -->
        <hr/>
        <!-- Деление страницы на блоки -->
        <div>
            <div>
                <!-- fieldset рамка-->
                <fieldset>
                    <legend>Functional block 1</legend>
                    <p>Text field 1</p>
                    <input id="textField1" type="text"/>
                    <p>Text field 2</p>
                    <input id="textField2" type="text"/>
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>Functional block 2</legend>
                    <input id="btn1" type="button" value="Button1"/>
                    <input id="btn2" type="button" value="Button2"/>
                    <input id="btn3" type="button" value="Button3"/>
                </fieldset>
            </div>
        </div>

        <hr/>
        <a href="js_example.html">JS Page Example</a>
        <a href="js_forms.html">JS Page Forms</a>
        <a href="js_calculator.html">JS Calculator</a>
        <a href="employees.html">jQuery Example</a>
    </body>


</html>