<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>WEB-Title</title>

    <script>


        var math = {

            plus: function plus(id) {
                name1 = document.getElementById('name1'),
                    name2 = document.getElementById('name2'),

                   alert(Number(name1.value)+ Number(name2.value));


            },

            minus:  function minus(){
                name1 = document.getElementById('name1'),
                    name2 = document.getElementById('name2'),

                alert(Number(name1.value)- Number(name2.value));
            },

            multiply:  function multiply(name1,name2) {
                name1 = document.getElementById('name1'),
                    name2 = document.getElementById('name2'),

                alert(Number(name1.value) * Number(name2.value));
            },

            divi: function divi() {
                name1 = document.getElementById('name1'),
                    name2 = document.getElementById('name2'),

                alert(Number(name1.value) / Number(name2.value));

            }

        } // This class for math operations


    </script>
    <div>
        <fieldset>
            <legend>Калькулятор</legend>
            <form>
                <p>Число 1</p>
                <input id="name1" type="text"/>
                <p>Число 2</p>
                <input id="name2" type="text"/>
            <input id="btn1" type="submit" value="+"  onclick="math.plus()"/>
            <input id="btn2" type="submit" value="-" onclick="math.minus()"/>
            <input id="btn3" type="button" value="*" onclick="math.multiply()"/>
            <input id="btn4" type="button" value="/" onclick="math.divi()"/>

            </form>
        </fieldset>

    </div>
</head>
<body/>
</html>