<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
     <title>Регистрация</title>
      <script type="text/javascript" src="/js/accounts.js"></script>
     <script type="text/javascript" src="/lib/q.js"></script>
<script>
function  createAccount() {
    jQuery.ajax({

        type: 'POST',
        url: '/account/create',
        data: {
            login: jQuery('#login').val(),
            password: jQuery('#password').val(),

        },
        success: function () {
            jQuery('#login').val('');
            jQuery('#password').val('');
            jQuery('#passwordD').val('');

        }
    })
}

</script>


</head>
<body>

<div>
                <fieldset>
                    <legend> Регистрация </legend>
<p>Логин:</p>
<input id="login" type="text"/>
<p>Пароль:</p>
<input id="password" type="password"/>
<p>Подтвердите пароль</p>
<input id="passwordD" type="password"/>
<hr/>
<input type="button" value="Регистрация" onclick="createAccount()"/>
<input type="button" value="Регистрация" onclick="getAllEmployees()"/>
>
</fieldset>



</div>

</body>
</html>