<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>jopa</title>

</head>
<body>
<h1>Жопа</h1>
<h2>Жопа</h2>
<h3>Жопа</h3>
<h4>Жопа</h4>
<h5>Жопа</h5>
<h6>Жопа</h6>

<span>-----------TEXT----------</span>
<span>-----------TEXT 2----------</span>
<span>-----------TEXT 3----------</span>

<p>Параграф 1</p>
<p>Параграф 2</p>
<p>Параграф 3</p>
<hr/>

<div>
<div>
    <fieldset>
        <legend>Функциональный блок 1</legend>
        <p>Поле для ввода текста 1</p>
        <input id="textField1" type="text"/>
        <p>Поле для ввода текста 2</p>
        <input id="textField2" type="text"/>
    </fieldset>
</div>
<div>
    <fieldset>
        <legend>Функциональный блок 2</legend>
        <input id="btn1" type="button" value="Кнопка01"/>
        <input id="btn2" type="button" value="Кнопка02"/>
        <input id="btn3" type="button" value="Кнопка03"/>
    </fieldset>
</div>
</div>
<hr/>
<a href="js-example.html">JS Page Example</a>
<br/>
<a href="js-forms.html">JS Page Forms</a>
<br/>
<a href="calc.html">JS Page Calculator</a>
<br/>
<a href="employees.html">JS Page Employees</a>
</body>
</html>