<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script href="q.js">

    </script>
    <title>Jopa-Forms</title>
    <script>
        function sendButtonSubmit() {
            var name = document.getElementById('name');
            alert('Привет, ' + name.value);

        }
    </script>
</head>
<body>
<fieldset>
    <legend>Тестовая JS Форма</legend>
    <form onsubmit="return sendButtonSubmit()">
        <p>Имя:</p><input id="name" type="text"/>
        <input type="submit" value="Отправить"/>
    </form>

</fieldset>

</body>
</html>